{% schema %}
{
  "name": "Best Seller Products",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "BEST SELLER"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Select collection"
    },
    {
      "type": "range",
      "id": "limit",
      "label": "Products to show",
      "min": 2,
      "max": 8,
      "step": 1,
      "default": 4
    }
  ],
  "presets": [
    {
      "name": "Best Seller Products"
    }
  ]
}
{% endschema %}


{% assign collection = section.settings.collection %}

<div class="best-seller">

  <div class="page-width">

    <h2 class="best-title">
      {{ section.settings.title }}
    </h2>


    <div class="best-flex">

      {% for product in collection.products limit: section.settings.limit %}

        <div class="product-card">

          <a href="{{ product.url }}">

            {% if product.featured_image %}
              {{
                product.featured_image
                | image_url: width: 500
                | image_tag
              }}
            {% endif %}

            <h4>
              {{ product.title }}
            </h4>

          </a>


          <div class="price">

            {% if product.compare_at_price > product.price %}
              <span class="old">
                {{ product.compare_at_price | money }}
              </span>
            {% endif %}

            <span class="new">
              {{ product.price | money }}
            </span>

          </div>


          <div class="buttons">

            <form method="post" action="/cart/add">
              <input type="hidden" name="id" value="{{ product.first_available_variant.id }}">
              <button type="submit" class="add">
                ADD TO CART
              </button>
            </form>

            <a href="{{ product.url }}" class="quick">
              QUICK BUY
            </a>

          </div>

        </div>

      {% endfor %}

    </div>

  </div>

</div>